body{
    margin: 0px;
}
nav{
    background-color: lightgreen;
    border-bottom: 1px black solid;
    top: 0;
    left: 0;
    padding: 10px;
}
h2{
    color: green;
    margin: 0px;
    padding-left: 10px;
}
.tag{
    display: flex;
    flex-wrap: wrap;
}
.tag p{
    background-color: lightseagreen;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    border-radius: 10px 0;
    color: whitesmoke;
}
.card{
    margin: 10px;
    border: 1px black solid;
    border-radius: 15px 0;
    background-color: beige;
    padding: 10px;
}
p{
    padding-left: 10px;
}